// _variables.scss

// الألوان الأساسية
$primary-color: #3498db;
$secondary-color: #eee;
$accent-color: #e74c3c;
$background-color:#eff9ff;
$text-color: #2c3e50;

// ألوان إضافية يمكن استخدامها عند الحاجة
$info-color: #3498db;
$success-color: #2ecc71;
$warning-color: #f1c40f;
$danger-color: #e74c3c;
