// _variables.scss

// ألوان عامة
$default-color: #e74c3c;
// _variables.scss

// الألوان الأساسية
$primary-color: #3498db;
$secondary-color: #eee;
$accent-color: #e74c3c;
$background-color:#eff9ff;
$text-color: #2c3e50;

// ألوان إضافية يمكن استخدامها عند الحاجة
$info-color: #3498db;
$success-color: #2ecc71;
$warning-color: #f1c40f;
$danger-color: #e74c3c;

// ألوان الطالب 1
$student1-primary-color: #1abc9c;
$student1-secondary-color: #16a085;

// ألوان الطالب 2
$student2-primary-color: #9b59b6;
$student2-secondary-color: #8e44ad;
