
// الألوان
$primary-color: #007bff;
$secondary-color: #004794;
$white-color: #fff;
$background-color: #f0f7ff;
$accent-color: #eee;
$text-color: #2c3e50;
$highlight-color: #e67e22;

// ألوان الطالب 1
$student1-primary-color: #ff245d;
$student1-secondary-color: #d70040;

// ألوان الطالب 2
$student2-primary-color: #1acd81;
$student2-secondary-color: #126945;
// الميكسينات


@mixin btn-styles($bg-color, $text-color) {
  color: $text-color;
  background-color: $bg-color;
  border: none;
  font-size: 18px;
  padding: 8px 16px;
  cursor: pointer;
  transition: all 0.3s ease;
}


@mixin box-shadow {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

